<nav class="navbar navbar-default equinav" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Menu</span>
    </div><!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            页面
                        </a>
                        <a role="button" data-parent="#accordion" class="btn btn-default btn-sm" (click)="addGroup()">
                            添加组
                        </a>
                        <a role="button" data-parent="#accordion" class="btn btn-default btn-sm" (click)="addPage()">
                            添加页
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body padding0">
                        <vac-project-tree></vac-project-tree>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#widgetPage" data-toggle="tab">控件</a></li>
                <li><a href="#templatePage" data-toggle="tab">模板</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="widgetPage">
                    dddd
                </div>
                <div id="templatePage" class="tab-pane">
                    wolaiye
                </div>
            </div>
        </div>

        <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">How  It Works</a></li>-->
            <!--<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu depth_0">-->
                    <!--<li><a href="#">Feature 1</a></li>-->
                    <!--<li><a href="#">Feature 1</a></li>-->
                    <!--<li><a href="#">Feature 1</a></li>-->
                    <!--<li><a href="#">Feature 1</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">What’s Included</a></li>-->
            <!--<li><a href="#">Pricing</a></li>-->
            <!--<li><a href="#">Testimonials</a></li>-->
            <!--<li><a href="#">Case Studies</a></li>-->
            <!--<li><a href="#">Contact Us</a></li>-->
        <!--</ul>-->
    </div><!-- /.navbar-collapse -->
</nav>
