<div class="container-fluid">
    <h1>{{title}}</h1>
    <vac-toolbar></vac-toolbar>
    <div class="row vac-mt10">
        <div class="col-sm-3 col-md-3">
            <vac-left-panel></vac-left-panel>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div>Body</div>
            <div>Body</div>
            <div>Body</div>
            <div>Body</div>
        </div>
        <div class="col-sm-3 col-md-3">
            <vac-left-panel></vac-left-panel>
        </div>
    </div>
</div>
