$splashBg: white;
.splash{
    background: $splashBg;

    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .splash-main{
        width: 100%;
    }
    .splash-slogan{
        position: absolute;
        width: 100%;
        background: white;
        right: 0;
        bottom: 0;
    }
}
