<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#attr-custom" data-toggle="tab" *ngIf="attrs?.custom">{{attrs?.custom?.name}}</a></li>
        <li><a href="#attr-text" data-toggle="tab" *ngIf="attrs?.text">{{attrs?.text?.name}}</a></li>
        <li><a href="#attr-position" data-toggle="tab" *ngIf="attrs?.position">{{attrs?.position?.name}}</a></li>
        <li><a href="#attr-border" data-toggle="tab" *ngIf="attrs?.border">{{attrs?.border?.name}}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="attr-custom" *ngIf="attrs?.custom">
            <form class="form-horizontal">
                <div *ngFor="let attr of customAttrs">
                    <span [ngSwitch]="attr.type">
                        <span *ngSwitchCase="EVacWidgetAttrType.text">
                            <vac-input [attr]="attr" [type]="text"></vac-input>
                        </span>
                        <span *ngSwitchCase="EVacWidgetAttrType.enumCombBox">
                            <vac-comb-box [attr]="attr"></vac-comb-box>
                        </span>
                        <span *ngSwitchCase="EVacWidgetAttrType.boolSwitch">
                            <vac-switch [attr]="attr" [value]="attr.value"></vac-switch>
                        </span>
                        <span *ngSwitchCase="EVacWidgetAttrType.textArray">
                            <vac-list-box [attr]="attr"></vac-list-box>
                        </span>
                        <span *ngSwitchCase="EVacWidgetAttrType.imgFile">
                            <vac-input-file [attr]="attr"></vac-input-file>
                        </span>
                        <span *ngSwitchCase="EVacWidgetAttrType.color">
                            <vac-color [attr]="attr" [value]="attr.value"></vac-color>
                        </span>
                    </span>
                </div>
            </form>
        </div>
        <div id="attr-text" class="tab-pane" *ngIf="attrs?.text">
        </div>
        <div id="attr-position" class="tab-pane" *ngIf="attrs?.position">
        </div>
        <div id="attr-border" class="tab-pane" *ngIf="attrs?.border">
        </div>
    </div>
</div>
