<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#toolbar-start" data-toggle="tab">开始</a></li>
        <li><a href="#toolbar-config" data-toggle="tab">配置</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="toolbar-start">
            <div class="btn-toolbar" role="toolbar" aria-label="toolbar">
                <div class="btn-group" role="group" aria-label="theGroup.name" *ngFor="let theGroup of toolItems">
                    <button type="button" id="{{toolItem.id}}" class="btn btn-default fa f-toolbar-item {{toolItem.icon}}" title="{{toolItem.name + '(' + (isMac?toolItem.hotkeyMac:toolItem.hotkeyWin) + ')'}}" (click)="toolItem.doCommand()"
                            *ngFor="let toolItem of theGroup.items" [class.disabled]="!toolItem.enable">
                    </button>
                </div>
                <!--<div class="btn-group" role="group" aria-label="...">-->
                    <!--<button type="button" class="btn btn-default">Left</button>-->
                    <!--<button type="button" class="btn btn-default">Middle</button>-->
                    <!--<button type="button" class="btn btn-default">Right</button>-->
                <!--</div>-->
                <!--<div class="btn-group" role="group" aria-label="...">-->
                    <!--<button type="button" class="btn btn-default">Left</button>-->
                    <!--<button type="button" class="btn btn-default">Middle</button>-->
                    <!--<button type="button" class="btn btn-default">Right</button>-->
                <!--</div>-->
                <!--<div class="btn-group" role="group" aria-label="...">-->
                    <!--<button type="button" class="btn btn-default">Left</button>-->
                    <!--<button type="button" class="btn btn-default">Middle</button>-->
                    <!--<button type="button" class="btn btn-default">Right</button>-->
                <!--</div>-->
            </div>
        </div>
        <div id="toolbar-config" class="tab-pane">
            wolaiye
        </div>
    </div>
</div>
<div id="project-list-content">
    <vac-project-list></vac-project-list>
</div>
<!--<dcl-wrapper [type]="c1"></dcl-wrapper>-->
<!--<div id="testDiv">-->
<!--</div>-->